

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Users List
            </h2>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="table-secondary">
                <th><h4>Firstname </h4></th>
                <th><h4>Lastname</h4></th>
                <th><h4>Email</h4></th>
                <th><h4>Phone</h4></th>
                <th><h4>Role</h4></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}
