@model RoleManagementVM


<form method="post">
    <input asp-for="ApplicationUser.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Manage  User Role</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="ModelOnly"></div> *@
        <div class="mb-3 row p-1">
            <label asp-for="ApplicationUser.FirstName" class="p-0 h5"></label>
            <input asp-for="ApplicationUser.FirstName" class="form-control" />
            <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ApplicationUser.LastName" class="p-0 h5"></label>
            <input asp-for="ApplicationUser.LastName" class="form-control" />
            <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update Role</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#ApplicationUser_Role').change(function () {
                var selection = $('#ApplicationUser_Role Option:Selected').text();
            })
        })
    </script>
}

