


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-4 mb-4"><strong>Contact Us</strong></h2>
            <div class="d-flex justify-content-center align-items-center">
                <img src="/images/site/Logo.png" alt="Our Logo" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<br>

<div class="container mt-4">
    <div class="row">
        <h4 class="mb-4 ">
            Have a question, comment, or feedback? We'd love to hear from you! You can reach us using the following contact information:
        </h4>
        <h4 class="mb-4 text-center">
            <strong>Address:</strong><br>
            123 Basketball Court Street,<br>
            City, [12345]
        </h4>
        <h4 class="mb-4 text-center">
            <strong>Email:</strong><br>
            <a href="mailto:info@thebuzzerbeater.com">info@thebuzzerbeater.com</a>
        </h4>
        <h4 class="mb-4 text-center">
            <strong>Phone:</strong><br>
            <a href="tel:+1234567890">(+123) 456-7890</a>
        </h4>
        <h4 class="mb-4 text-center">
            Our customer service team is available to assist you during our business hours:
        </h4>
        <h4 class="mb-4 text-center">
            <strong>Business Hours:</strong><br><br>
            Monday - Saturday: 9:00 AM - 6:00 PM<br>
            Sunday: Closed
        </h4>
        <h4 class="mb-4">
            Feel free to contact us via email or phone for any inquiries related to product information, order assistance, returns and exchanges, or any other questions you may have. We strive to respond to all inquiries promptly and provide you with the best possible assistance.
        </h4>
        <h4 class="mb-4">
            Additionally, you can connect with us on social media for the latest updates, promotions, and basketball news:
        </h4>
        <div class="d-flex justify-content-center mb-4">
            <a href="#" class="btn btn-primary mr-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="btn btn-primary mr-2"><i class="bi bi-twitter"></i></a>
            <a href="#" class="btn btn-primary mr-2"><i class="bi bi-instagram"></i></a>
            <a href="#" class="btn btn-primary mr-2"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
