@model IEnumerable<Product>


<!-- Header Section -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Welcome message, logo, and introductory content -->
            <h2 class="text-center mt-4 mb-4">Welcome to TheBuzzerBeater – Your Ultimate NBA Fashion Destination!</h2>
        </div>
    </div>
</div>
<br>

<div class="container mt-4">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\images\site\Logo.png" class="d-block mx-auto" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="\images\site\17.jpg" class="d-block  mx-auto" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="\images\site\2.png" class="d-block  mx-auto" alt="Slide 3">
            </div>
            <div class="carousel-item">
                <img src="\images\site\3.jpg" class="d-block  mx-auto" alt="Slide 4">
            </div>
            <div class="carousel-item">
                <img src="\images\site\5.png" class="d-block  mx-auto" alt="Slide 5">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-visible">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-visible">Next</span>
        </button>
    </div>
</div>
<br>



<br>
<!-- Featured Products Section -->
<div class="container mt-4" id="featured-products">
    <h4>
        At TheBuzzerBeater online shop, we believe that style and passion go hand in hand. Our mission is to bring the excitement of the NBA from the court to your closet, offering a curated collection of high-quality, trendsetting NBA-themed apparel and accessories.
    </h4><br>

   @*  <div class="container mt-4">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item align-content-lg-center" autoplay loop muted>
                <source src="\images\site\mp4\1.mp4" type="video/mp4">
            </video>
        </div>
    </div> *@<div class="container-fluid">
        <div class="row">
            <div class="col-12 video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" autoplay loop muted>
                        <source src="\images\site\mp4\1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <h4>Elevate Your Style: </h4>
        <h5>
            Discover a winning lineup of fashion-forward gear that allows you to express your love for the game in every aspect of your life. From iconic jerseys to street-style essentials, we've got your wardrobe covered, ensuring you're always on top of your style game.
        </h5>
    </div>
    <br>

    <div class="row">
        <h4>Quality Meets Fandom: </h4>
        <h5>
            We understand that being a fan is not just about the game; it's a lifestyle. That's why we source premium materials and collaborate with top designers to bring you products that seamlessly blend quality, comfort, and team pride. Each piece is a celebration of your favorite teams and players.
        </h5>
    </div>
    <br>

    <h4>Explore Our Exclusive Collection:</h4> <br> <br>

    <div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="card border-0 p-3 shadow rounded">
                    <img src="@product.ImageUrl" class="card-img-top rounded" />
                    <div class="card-body">
                        <p class="card-title text-opacity-75 text-center overflow-hidden" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            @product.Name
                        </p><br>
                        <p class="text-opacity-75 text-center">
                            Price: <span>@product.Price.ToString("c")</span>
                        </p>
                    </div>
                    <div>
                        <a asp-action="ProductDetails" asp-route-productId="@product.ProductId" class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br>


<div class="row">
    <div class="row">
        <h4 class="my-4">Why to Choose TheBuzzerBeater? </h4>
        <ul>
            <li>
                <h5>Authenticity: Officially licensed NBA merchandise for an authentic fan experience.</h5>
            </li>
            <li>
                <h5>Fast Break to Fashion: With easy navigation, secure transactions, and lightning-fast shipping, your journey from order to doorstep is a slam dunk.</h5>
            </li>
            <li>
                <h5>Style: Stay on-trend with our carefully curated selection of the latest NBA fashion.</h5>
            </li>
            <li>
                <h5>Quality: From fabric to craftsmanship, our products meet the highest standards.</h5>
            </li>
            <li>
                <h5>Passion: We share your love for the game and bring that passion into every design.</h5>
            </li>
        </ul>
    </div>
</div>
<br>




<div class="row">
    <h4 class="my-4">Thank you for choosing TheBuzzerBeater OnlineStore ! </h4>
    <h5>We're committed to provide you a seamless shopping experience that matches the excitement of a fast break on the court.</h5>
    <h5>
        It's your style, your game, your destination !
    </h5>
</div>
<br>

<div class="row">
    <h4>Join the Community:</h4>
    <h5>
        TheBuzzerBeater is more than just an online store; it's a community of basketball enthusiasts who celebrate the spirit of the game. Follow us on social media, share your style using #BuzzerBeaterStyle, and connect with fellow fans.
    </h5>
</div>
<br>