<br>
<h2>Shipping Information</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mt-4 mb-4">
                At TheBuzzerBeater, we strive to provide fast and reliable shipping to ensure that you receive your order in a timely manner. Here's everything you need to know about our shipping policies:
            </h4>
            <h4 class="mt-4 mb-4">Processing Time</h4>
            <h5>
                Orders are typically processed and shipped within [number of business days] business days after payment is received. During peak seasons or promotional periods, processing times may be slightly longer. Once your order has been shipped, you will receive a shipping confirmation email with tracking information.
            </h5>
            <h4 class="mt-4 mb-4">Shipping Methods</h4>
            <h5>
                We offer several shipping options to accommodate your needs:
                <ul>
                    <li>Standard Shipping: Delivery typically takes [number of days] to [number of days] business days, depending on your location.</li>
                    <li>Express Shipping: For faster delivery, choose our express shipping option, which typically takes [number of days] to [number of days] business days.</li>
                </ul>
                Please note that shipping times are estimates and may vary depending on factors such as carrier delays and destination location.
            </h5>
            <h4 class="mt-4 mb-4">Shipping Costs</h4>
            <h5>
                Shipping costs are calculated based on the weight and dimensions of your order, as well as your location. You can view the shipping cost for your order during the checkout process before making payment. We may offer free shipping promotions from time to time, so be sure to check our website for any current offers.
            </h5>
            <h4 class="mt-4 mb-4">International Shipping</h4>
            <h5>
                We ship to select countries worldwide. International shipping rates and delivery times vary depending on your location. Please note that international orders may be subject to customs fees, import taxes, and other charges imposed by the destination country. These fees are the responsibility of the recipient and are not included in the order total or shipping cost.
            </h5>
            <h4 class="mt-4 mb-4">Order Tracking</h4>
            <h5>
                Once your order has been shipped, you will receive a shipping confirmation email with a tracking number. You can use this tracking number to monitor the status of your shipment and estimate the delivery date. If you have any questions or concerns about the status of your order, please contact our customer service team for assistance.
            </h5>
            <h4 class="mt-4 mb-4">Shipping Restrictions</h4>
            <h5>
                Some items may be subject to shipping restrictions due to size, weight, or other factors. If an item is not eligible for shipping to your location, you will be notified during the checkout process.
            </h5>
            <h4 class="mt-4 mb-4"> Contact Us</h4>
            <h5>If you have any questions or concerns about our shipping policies, please don't hesitate to contact us.</h5>
        </div>
    </div>
</div>
