<br>
<h2>Size Guide</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="mt-4 mb-4">
                Finding the right size for your basketball apparel and footwear is crucial for comfort and performance on the court. Use the following size guide to determine the best fit for your needs.
            </h5>
            <h4 class="mt-4 mb-4">Apparel Size Guide</h4>
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary text-center">
                        <th scope="col"><h5>Size</h5></th>
                        <th scope="col"><h5>Chest (inches)</h5></th>
                        <th scope="col"><h5>Waist (inches)</h5></th>
                        <th scope="col"><h5>Hip (inches)</h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary text-center">
                        <td><h5>Small</h5></td>
                        <td><h5>34-36</h5></td>
                        <td><h5>28-30</h5></td>
                        <td><h5>34-36</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>Medium</h5></td>
                        <td><h5>38-40</h5></td>
                        <td><h5>32-34</h5></td>
                        <td><h5>38-40</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>Large</h5></td>
                        <td><h5>42-44</h5></td>
                        <td><h5>36-38</h5></td>
                        <td><h5>42-44</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>X-Large</h5></td>
                        <td><h5>46-48</h5></td>
                        <td><h5>40-42</h5></td>
                        <td><h5>46-48</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>XX-Large</h5></td>
                        <td><h5>50-52</h5></td>
                        <td><h5>44-46</h5></td>
                        <td><h5>50-52</h5></td>
                    </tr>
                </tbody>
            </table>
            <h4 class="mt-4 mb-4">Footwear Size Guide</h4>
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary text-center">
                        <th><h5>US Size</h5></th>
                        <th><h5>EU Size</h5></th>
                        <th><h5>UK Size</h5></th>
                        <th><h5>Foot Length (inches)</h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary text-center">
                        <td><h5>7</h5></td>
                        <td><h5>40</h5></td>
                        <td><h5>6</h5></td>
                        <td><h5>9.84</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>8</h5></td>
                        <td><h5>41</h5></td>
                        <td><h5>7</h5></td>
                        <td><h5>10.08</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>9</h5></td>
                        <td><h5>42</h5></td>
                        <td><h5>8</h5></td>
                        <td><h5>10.24</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>10</h5></td>
                        <td><h5>43</h5></td>
                        <td><h5>9</h5></td>
                        <td><h5>10.47</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>11</h5></td>
                        <td><h5>44</h5></td>
                        <td><h5>10</h5></td>
                        <td><h5>10.71</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>12</h5></td>
                        <td><h5>45</h5></td>
                        <td><h5>11</h5></td>
                        <td><h5>10.94</h5></td>
                    </tr>
                    <tr class="table-secondary text-center">
                        <td><h5>13</h5></td>
                        <td><h5>46</h5></td>
                        <td><h5>12</h5></td>
                        <td><h5>11.18</h5></td>
                    </tr>
                </tbody>
            </table>
            <h4 class="mt-4 mb-4">How to Measure</h4>
            <h5>
            <ul>
                <li>Chest: Measure around the fullest part of your chest, keeping the tape parallel to the ground.</li>
                <li>Waist: Measure around your natural waistline, where your torso bends when you lean to the side.</li>
                <li>Hip: Measure around the fullest part of your hips, keeping the tape parallel to the ground.</li>
                <li>Foot Length: Measure the length of your foot from the back of your heel to the tip of your longest toe.</li>
            </ul>
            </h5>
            <h4 class="mt-4 mb-4">Additional Tips</h4>
            <h5>
            <ul>
                <li>If you fall between sizes, we recommend sizing up for a looser fit or sizing down for a tighter fit, depending on your preference.</li>
                <li>Keep in mind that different brands and styles may have slight variations in sizing, so always refer to the specific size chart provided for each product.</li>
            </ul>
            </h5>
            <h4 class="mt-4 mb-4">Contact Us</h4>
            <h5>If you have any questions or need further assistance with sizing, please don't hesitate to contact our customer service team at info@thebuzzerbeater.com.</h5>
        </div>
    </div>
</div>


