<br>
<h2>Terms of Service</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mt-4 mb-4">
                Welcome to TheBuzzerBeater. These Terms of Service govern your use of our website and services. By accessing or using our website, you agree to comply with these terms and conditions. Please read them carefully before proceeding.
            </h4>
            <h4 class="mt-4 mb-4">1. Acceptance of Terms</h4>
            <h5>
                By accessing or using our website, you agree to be bound by these Terms of Service, as well as any additional terms and conditions that may apply to specific services or features offered on our site. If you do not agree to these terms, you may not use our website.
            </h5>
            <h4 class="mt-4 mb-4">2. Use of Website</h4>
            <h5>
                You may use our website for lawful purposes only and in accordance with these Terms of Service. You agree not to use our site in any way that violates applicable laws or regulations or infringes upon the rights of others.
            </h5>
            <h4 class="mt-4 mb-4">3. Intellectual Property</h4>
            <h5>
                All content on this website, including text, images, logos, and graphics, is the property of TheBuzzerBeater or its licensors and is protected by copyright and other intellectual property laws. You may not reproduce, distribute, modify, or otherwise use any content from this site without the prior written consent of the copyright owner.
            </h5>
            <h4 class="mt-4 mb-4">4. User Accounts</h4>
            <h5>
                In order to access certain features or services on our website, you may be required to create a user account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
            </h5>
            <h4 class="mt-4 mb-4">5. Orders and Payments</h4>
            <h5>
                By placing an order on our website, you agree to pay the specified price for the products or services ordered, as well as any applicable taxes and shipping fees. All payments are processed securely through our payment gateway.
            </h5>
            <h4 class="mt-4 mb-4">6. Shipping and Returns</h4>
            <h5>
                Please refer to our Shipping Information and Returns and Exchanges sections for details about our shipping and returns policies.
            </h5>
            <h4 class="mt-4 mb-4">7. Limitation of Liability</h4>
            <h5>
                Under no circumstances shall TheBuzzerBeater, its affiliates, or its partners be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with your use of this website or the products or services offered on this site.
            </h5>
            <h4 class="mt-4 mb-4">8. Governing Law</h4>
            <h5>
                These Terms of Service shall be governed by and construed in accordance with the laws of Greece, without regard to its conflict of law principles.
            </h5>
            <h4 class="mt-4 mb-4">9. Changes to Terms</h4>
            <h5>
                We reserve the right to update or modify these Terms of Service at any time without prior notice. Any changes will be effective immediately upon posting to this website. Your continued use of the site after any such changes constitutes your acceptance of the new terms.
            </h5>
            <h4 class="mt-4 mb-4">10. Contact Us</h4>
            <h5>If you have any questions or concerns about these Terms of Service, please contact us at info@thebuzzerbeater.com</h5>
        </div>
    </div>
</div>
