@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<br>
<h1 class="text-center">@ViewData["Title"]</h1>
<br>
<div class="container text-center">
    <h4 class="row bg-primary text-center align-content-center justify-content-center">
        Please check your email to confirm your account.
    </h4>
</div>

