html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
 /* margin-bottom: 60px;*/
}
.btn-action {
    width: 100%; /* Adjust the width as needed */
}

.divider-text:before,
.divider-text:after {
    color:white;
    content:"";
    flex:1;
    border-bottom: 1px solid #555;
    margin:auto 0.25rem;
    box-shadow:0 -2px;
}

.video-container {
    min-height: 300px; /* Adjust the minimum height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

video {
    max-width: 100%; /* Ensure the video does not exceed its container's width */
    height: auto;
}
.brands__section .img-fluid {
    max-width: 30%; 
    height: auto; 
}
.social__icons a:not(:last-child) {
    margin-right: 20px; 
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

    .testimonials-container img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: #f3f3f3;
    border-radius: 5px;
    color: black;
}
.testimonials-container {
    flex-direction: column;
}

hr.section__line {
    background-color: #df691a;
    border: none; /* Ensure no border is applied */
    height: 2px; /* Set the height of the line */
}

.bg-white {
    background-color: white !important;
}
.custom-img-size {
    max-width: 100%;
    height: auto ;

}